.filter {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    label {
        width: 150px;
        text-align: right;
    }
    div {
        padding: 0 5px;
    }
    :nth-child(2) {
        width: 150px;
    }
    :nth-child(3) {
        width: 300px;
    }
}
